<app-todo-form />
<div class="flex items-center justify-between mb-4">
    <div class="flex gap-2 mb-4">
        <button (click)="setTab('active')" class="px-4 py-1.5 rounded-lg text-sm font-medium"
            [class.bg-blue-100]="activeTab() === 'active'" [class.text-blue-600]="activeTab() === 'active'"
            [class.text-gray-500]="activeTab() === 'active'">
            Active Task
        </button>
        <button (click)="setTab('completed')" class="px-4 py-1.5 rounded-lg text-sm font-medium"
            [class.bg-blue-100]="activeTab() === 'completed'" [class.text-blue-600]="activeTab() === 'completed'"
            [class.text-gray-500]="activeTab() !== 'completed'">
            Completed
        </button>
    </div>

    <input type="text" placeholder="Search List" [value]="searchQuery()"
        (input)="onSearchChange($any($event.target).value)"
        class="px-3 py-1.5 border border-gray-300 rounded-lg text-sm w-64" />
</div>

<div class="grid grid-cols-3 gap-4">
    @for (todo of visibleTodos(); track todo.id) {
    <app-todo-card [todo]="todo" (toggle)="onToggle($event)" (delete)="onDelete($event)" />
    } @empty {
    <div class="col-span-3 flex flex-col items-center justify-center py-12 text-gray-400">
        <p class="text-gray-500">Nessun task presente</p>
    </div>
    }
</div>