<div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
     <aside class="w-64 bg-white border-r border-gray-200 flex-col p-4">
        <div class="flex item-center gap-2 mb-8">
            <div class="w-8 h-8 bg-blue-500 rounded-full"></div>
            <span class="font-semibold text-gray-800">HealDocs</span>
        </div>

        <nav class="flex flex-col gap-1 text-sm text-gray-600">
            <a routerLink="/overview" routerLinkActive="bg-blue-50 text-blue-600 font-medium" class="px-3 py-2 rounded-lg hover:bg-gray-100">Overview</a>
            <a routerLink="/team-mates" routerLinkActive="bg-blue-50 text-blue-600 font-medium" class="px-3 py-2 rounded-lg hover:bg-gray-100">Team Mates</a>
            <a routerLink="/todo-list" routerLinkActive="bg-blue-50 text-blue-600 font-medium" class="px-3 py-2 rounded-lg bg-blue-50 text-blue-600 font-medium">Todo List</a>
        </nav>
     </aside>

     <!-- Main content -->
      <div class="flex-1 felx flex-col">
        <!-- Header -->
         <header class="flex items-center justify-between px-8 bg-white border-b border-gray-200">
            <h1 class="text-xl font-semibold text-gray-800">Todo List</h1>
            <div class="2-9 h-9 bg-gray-300 rounded-full"></div>
         </header>

         <!-- Content area -->
          <main class="flex-1 p-8 overflow-auto">
            <router-outlet />
          </main>
      </div>
</div>