<div class="todo-card" [class]="colorClass()">
    <div class="todo-card-header">
        <input type="checkbox" [checked]="todo().completed" (change)="onToggle()" class="todo-checkbox" />
        <h3 class="todo-title" [class.todo-title--done]="todo().completed">
            {{ todo().title }}
        </h3>
    </div>
    <p class="todo-description">{{ todo().description }}</p>
    <span class="todo-date">
        <app-icon name="clock" [size]="12" />
        {{ todo().date }}
    </span>

    <div class="todo-actions">
        <button class="todo-action-btn" (click)="onEdit()" title="Edit">
            <app-icon name="pencil-line" [size]="13" />
        </button>
        <button class="todo-action-btn" (click)="onDelete()" title="Delete">
            <app-icon name="x" [size]="13" />
        </button>
    </div>
</div>
